@import "tailwindcss";
body{
    /* background-color: #000; */
    color: #fff;
    background-image: url("https://blog.quicknode.com/content/images/size/w1200/2021/01/quiknode-blog-cover-redunandancy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.active{
    color: #fc3333;
}
